HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### DOC ###
logs
/src/main/generated/
/src/test/generated_tests/
/docs/deploy.sh
/docs/deploy_prod.sh
/docs/deploy.sh.org
/docs/test.puml
/docs/*.xlsx

### Claude Code ###
*-command-message*.txt
.mcp.json
/src/main/resources/restdocs/
/uploads/
/last_prompting_history.log
/prompt_log/

### Firebase ###
firebase-service-account.json
src/main/resources/firebase-service-account.json
src/main/resources/firebase-service-account-prod.json
/firebase-debug.log

/src/main/resources/firebase-service-account.json.org
/src/main/resources/level-up-together-dev-720d2-f2881475594a.json

### Keystore ###
*.p12
*.jks
*.keystore
*.p12.org
